{% extends 'base3.html' %}

{% block content %}

<div class="set2">
    <h2>우리동네 치킨</h2>
</div>

<div class="set3">
    <h4>배달시간</h4> <p>55분 ~65분</p>
    <h4>배달시간</h4> <p> 3000원</p>
    <h4>배달시간</h4> <p>현장결제</p>
    <h4>배달시간</h4> <p>15,000원</p>
</div>

<div class="set4">
    <div class="reorder">
        <h4>재주문 +1000</h4>
    </div>

    <div class="information">
        <h4>가게,원산지 정보</h4>
    </div>
</div>

<a href="../../real_page/Sample.html"><div class="set5">
    <div class="text">
        <h4>후라이드 치킨</h4>
        <p>1975kcal</p>
        <p>16,000원</p>
    </div>

    <div class="image">
        <img src="../../images/chicken.jpg">
    </div>
</div></a>

<div class="set6">
    <p>살찌는 패스트푸드 말고</p>
    <p>대신 샐러드 주문하러 가기</p>

    <a href="../../real_page/Sample.html"><p>Go</p></a>
</div>



{% endblock %}