{% extends 'base3.html' %}

{% block content %}


<div class="set2">
    <div class="account">
        <a href="../../real_page/mission_page2_1.html"><h2>계좌이체</h2></a>
    </div>

    <div class="card">
        <a href="../../real_page/mission_page_2_2.html"><h2>카드결제(현장)</h2></a>
    </div>

    <div class="cash">
        <a href="../../real_page/mission_page_2_3.html"><h2>현금결제(현장)</h2></a>
    </div>
</div>

<div class="set3">
    <h1>이번 달 총 결제금액은</h1>
    <h1>118,500원 입니다.</h1>
</div>

{% endblock %}