{% extends 'base1.html' %}

{% block content %}

<div class="set2">
    <h4>닉네임</h4>
    <a href="../../real_page/Sample.html">내 정보</a>
</div>

<div class="set3">
    <div class="used_calories">
        <a href="../body_for_Django/Used_Calories.html">
            <svg width="160" height="160" viewBox="0 0 160 160" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="80" cy="80" r="80" fill="#92B4EC" />
            </svg></a>

        <p>480kcal</p>

    <div class="water_supplies">
        
    </div>

    </div>



    



    
</div>

{% endblock %}