{% extends 'base1.html' %}

{% block content %}

<div class="set2">
    <h1>소모 칼로리</h1>
</div>

<div class="set3">
    <h4>나의 기초대사량: 1401.8kcal</h4>
</div>

<div class="set4">
    <h4>추가로 소모한 칼로리</h4>
    <h4><input type="text" >kcal</input></h4>
    <input type="submit" value="칼로리 저장" />
</div>

<div class="set5">
    <p>기초대사량이 표시되지 않는 경우</p>
    <p>마이페이지>내정보>건강정보수정에서</p>
    <p>정보를 추가해주세요</p>
</div>

<div class="set6">
    <a href="../../real_page/Sample.html">
        소모 칼로리 편집
    </a>
</div>

{% endblock %}