.div{
    height:24px;
}

.Password {
    font-family: 'Apple SD Gothic Neo';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
width:19px;
position: relative;
text-align: center;

background: #FFE699;
border-radius: 20px;
width:30px;




color: #8D91B6;
}

#input2 {
    background: #D8E0ED;
border-radius: 20px;
border-style: hidden;
border: 0px solid gray;
margin-left: 30px;
height:24px;
position:relative;
top: -24px;
width: 382px;
text-align: center;
}